/* styles.css */
:root {
    --bg-color: white;
    --text-color: black;
  }
  
  [data-theme='dark'] {
    --bg-color: #121212;
    --text-color: white;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  /* Additional styles for buttons, links, etc. */
button {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
  input {
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  